<h2>Show Post</h2>

<ul>

  <li>
    <strong>Userid:</strong>
    <%= @post.user_id %>
  </li>

  <li>
    <strong>Message:</strong>
    <%= @post.message %>
  </li>

  <li>
    <strong>Favs:</strong>
    <%= @post.favs %>
  </li>

</ul>

<span><%= link "Edit", to: post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: post_path(@conn, :index) %></span>
