
.status-upload form textarea {
	height: 142px;
	padding: 20px;
	width: 100%;
	border: 1px solid #F2F2F2;
}


.status-upload form button {
	float: right;
	margin-right: 9px;
	margin-top: 9px;
	padding: 6px 15px;
}




























































